<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.hospital_reservation_system.mapper.DoctorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feng.hospital_reservation_system.pojo.Doctor">
        <id column="doctor_id" property="doctorId" />
        <result column="doctor_password" property="doctorPassword" />
        <result column="doctor_name" property="doctorName" />
        <result column="doctor_age" property="doctorAge" />
        <result column="doctor_gender" property="doctorGender" />
        <result column="doctor_phoneNum" property="doctorPhonenum" />
        <result column="doctor_address" property="doctorAddress" />
        <result column="leader" property="leader" />
        <result column="dept" property="dept" />
        <result column="position" property="position" />
        <result column="hiredate" property="hiredate" />
        <result column="modifier" property="modifier" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_time" property="createTime" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        doctor_id, doctor_password, doctor_name, doctor_age, doctor_gender, doctor_phoneNum, doctor_address, leader, dept, position, hiredate, modifier, modify_time, create_time, version, deleted
    </sql>

</mapper>
