<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.hospital_reservation_system.mapper.OrderRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feng.hospital_reservation_system.pojo.OrderRecord">
        <id column="order_id" property="orderId" />
        <result column="patient_id" property="patientId" />
        <result column="doctor_id" property="doctorId" />
        <result column="order_time" property="orderTime" />
        <result column="order_status" property="orderStatus" />
        <result column="modifier" property="modifier" />
        <result column="create_time" property="createTime" />
        <result column="modifier_time" property="modifierTime" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="current_index" property="currentIndex" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, patient_id, doctor_id, order_time, order_status, modifier, create_time, modifier_time, version, deleted, current_index
    </sql>

</mapper>
