<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.hospital_reservation_system.mapper.ReservationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feng.hospital_reservation_system.pojo.Reservation">
        <id column="reservation_id" property="reservationId" />
        <result column="patient_id" property="patientId" />
        <result column="current_position" property="currentPosition" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="modifier" property="modifier" />
        <result column="deleted" property="deleted" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        reservation_id, patient_id, current_position, create_time, modify_time, modifier, deleted, version
    </sql>

</mapper>
