<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工页面</title>
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/photo_selector.css">

</head>
<body>
<div class="topNavBar">
    <div class="container">
        <a href="staff.html" class="on">员工版</a>
        <a href="patient.html">患者版</a>
    </div>
</div>

<div style="margin: auto;width: 70%;">

    <div class="photoDisplayBox">
        <div class="innerBox">
            <ul>
                <li><a href="#"><img src="../static/images/index.jpg"></a></li>
                <li><a href="#"><img src="../static/images/loginbackground.jpg"></a></li>
                <li><a href="#"><img src="../static/images/love2.jpg"></a></li>
                <li><a href="#"><img src="../static/images/color1.jpg"></a></li>
                <li><a href="#"><img src="../static/images/color2.jpg"></a></li>
            </ul>
        </div>

        <div class="selector">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>

    </div>
</div>
<script src="../static/js/photo_selector.js"></script>
</script>
</body>
</html>